<!-- Page navigation variables -->
<%
    var isTagDefined = false;
    var tagId = "";
    var tagName = "";
    if (dataArray.tagInfo != undefined){
        isTagDefined = true;
        tagId = dataArray.tagInfo.tag_id;
        tagName = dataArray.tagInfo.tag_name;
    }
    var isPreviousDefined = false;
    var previousPageNumber;
    var previousLimit;
    if (dataArray.previous != undefined){
        isPreviousDefined = true;
        previousPageNumber = dataArray.previous.page;
        previousLimit = dataArray.previous.limit;
    }
    var isNextDefined = false;
    var nextPageNumber;
    var nextLimit;
    if (dataArray.next != undefined){
        isNextDefined = true;
        nextPageNumber = dataArray.next.page;
        nextLimit = dataArray.next.limit;
}
%>
<!-- Page navigation -->
<div class="bg-white px-4 py-3 flex items-center justify-between border-t border-gray-200 sm:px-6">
    <div class="flex-1 flex justify-between sm:hidden">
        <%
        if (isPreviousDefined){
            %>
            <a href="?page=<%=previousPageNumber%>&limit=<%=previousLimit%><% if(isTagDefined){%>&tag=<%=tagId%><%}%>" class="relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                Previous
            </a>
            <%
        }
        if (isNextDefined){
            %>
            <a href="?page=<%=nextPageNumber%>&limit=<%=nextLimit%><% if(isTagDefined){%>&tag=<%=tagId%><%}%>" class="ml-3 relative inline-flex items-center px-4 py-2 border border-gray-300 text-sm leading-5 font-medium rounded-md text-gray-700 bg-white hover:text-gray-500 focus:outline-none focus:shadow-outline-blue focus:border-blue-300 active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                Next
            </a>
            <%
        }
        %>
    </div>
    <div class="hidden sm:flex-1 sm:flex sm:items-center sm:justify-between">
        <div>
            <p class="text-sm leading-5 text-gray-700">
                Showing
                <span class="font-medium"><%= dataArray.dataInfo.startIndex %></span>
                to
                <span class="font-medium"><%= dataArray.dataInfo.endIndex %></span>
                of
                <span class="font-medium"><%= dataArray.dataInfo.numberOfDocuments %></span>
                results
                <%
                if(isTagDefined){
                    %>( <%=tagName%> )<%
                }
                %>
            </p>
        </div>
        <div>
            <nav class="relative z-0 inline-flex shadow-sm">
                <% if (isPreviousDefined){ %>
                    <a href="?page=<%=previousPageNumber%>&limit=<%=previousLimit%><% if(isTagDefined){%>&tag=<%=tagId%><%}%>" class="relative inline-flex items-center px-2 py-2 rounded-l-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Previous">
                        <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                            <path fill-rule="evenodd" d="M12.707 5.293a1 1 0 010 1.414L9.414 10l3.293 3.293a1 1 0 01-1.414 1.414l-4-4a1 1 0 010-1.414l4-4a1 1 0 011.414 0z" clip-rule="evenodd" />
                        </svg>
                    </a>
                    <%
                    for (let i=dataArray.dataInfo.page-3; i < dataArray.dataInfo.page; i++){
                        if (i > 0){ %>
                            <a href="?page=<%=i%>&limit=<%=previousLimit%><% if (isTagDefined){%>&tag=<%=tagId%><%}%>" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                                <%=i%>
                            </a>
                            <%
                        }
                    }
                }
                %>
                <span class="-ml-px relative inline-flex items-center px-4 py-2 border border-white-300 bg-indigo-100 text-sm leading-5 font-medium text-gray-700"><%=dataArray.dataInfo.page %></span>
                <%
                if (isNextDefined){
                for (let i=dataArray.dataInfo.page + 1; i <= (dataArray.dataInfo.numberOfDocuments/dataArray.dataInfo.limit) && i < (dataArray.dataInfo.page + 4); i++){
                %>
                <a href="?page=<%=i%>&limit=<%=dataArray.next.limit%><% if(isTagDefined){%>&tag=<%=tagId%><%}%>" class="-ml-px relative inline-flex items-center px-4 py-2 border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-700 hover:text-gray-500 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-700 transition ease-in-out duration-150">
                    <%=i%>
                </a>
                <%
                }
                %>
                <a href="?page=<%=nextPageNumber%>&limit=<%=nextLimit%><% if(isTagDefined){%>&tag=<%=tagId%><%}%>" class="-ml-px relative inline-flex items-center px-2 py-2 rounded-r-md border border-gray-300 bg-white text-sm leading-5 font-medium text-gray-500 hover:text-gray-400 focus:z-10 focus:outline-none focus:border-blue-300 focus:shadow-outline-blue active:bg-gray-100 active:text-gray-500 transition ease-in-out duration-150" aria-label="Next">
                    <svg class="h-5 w-5" viewBox="0 0 20 20" fill="currentColor">
                        <path fill-rule="evenodd" d="M7.293 14.707a1 1 0 010-1.414L10.586 10 7.293 6.707a1 1 0 011.414-1.414l4 4a1 1 0 010 1.414l-4 4a1 1 0 01-1.414 0z" clip-rule="evenodd" />
                    </svg>
                </a>
                <%
                }
                %>
            </nav>
        </div>
    </div>
</div>